FantasyFootballHtml5/node_modules/
FantasyFootballHtml5/node/build/
.metadata/
FantasyFootballServer/.externalToolBuilders/org.eclipse.wst.validation.validationbuilder.launch
FantasyFootballClient/.settings/org.eclipse.jdt.launching.prefs
