body {
  margin: 0 0;
  background: #999;
  height: 100%;
}
.background {
  position: fixed;
  top: 25px;
  left: 25px;
  bottom: 15px;
  right: 15px;
  background: #000;
  filter: blur(10px);
}
.content {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
  overflow: auto;
  background: #eee;
  border: solid black 1px;
  padding: 10px;
}
.progressbar {
  width: 322px;
  height: 20px;
  border: solid #9c9 5px;
  background: #242;
  margin: 5px;
  display: inline-block;
}
.progressbar .progress {
  background: #696;
  height: 100%;
  width: 0%;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24pt;
  font-weight: 400;
  margin: 0px;
}
