<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/FantasyFootballServer/src/com/fumbbl/ffb/server/FantasyFootballServer.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.fumbbl.ffb.server.FantasyFootballServer"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="FantasyFootballServer"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="fumbbl"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FantasyFootballServer"/>
</launchConfiguration>
