<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FantasyFootballTools/src/com/balancedbytes/games/ffb/tools/BuildStandaloneIconCache.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.balancedbytes.games.ffb.tools.BuildStandaloneIconCache"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Projekte\github\ffb\FantasyFootballServer\htdocs\icons C:\Projekte\github\ffb\FantasyFootballClient\icons-standalone.ini"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FantasyFootballTools"/>
</launchConfiguration>
